.body {
	background-color: #f5f5f7;
	color: #1d1d1f;
}

.header {
	display: flex;
}

.logo {
	width:20%;
}

.nav {
	width:50%;
}

.nav ul {
	display: flex;
}

.nav li {
	list-style-type: none;
	margin-right:1em;
}

